<header class="header">
    <div class="header-content py-4 md:py-6 flex flex-col md:flex-row justify-center items-center">
        <a href="#work" class="header-items mx-10">
            Work
        </a>
        <a href="#about" class="header-items mx-10">
            About
        </a>
        <a href="#contact" class="header-items mx-10">
            Contact
        </a>
    </div>
</header>

<style>
    .header-items {
		font-size: 1.2em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
</style>