<div class="masthead">
	<div class="masthead-container">
		<div class="masthead-logo">
			<a href="http://www.foxnews.com/"><img src="http://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2014/07/140731-fox-news-logo.png" alt="Fox News" /></a>
		</div>
		<div class="masthead-ad">
			<div id="div-gpt-ad-140731-01" style="width: 728px; height: 90px;">
			</div>
		</div>
	</div>
</div>
